.compound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.buttonSpace {
  padding: 10px;
}

.labelMid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 20px;
}
