.compound {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.compound h1 {
  font-size: 1.4rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.counter {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
}

.buttonSpace {
  padding: 10px;
}

.labelMid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
